@import '../../../../assets/css/style.scss';

/*------------------------------------*\
    #Nav bar
\*------------------------------------*/

.nav-bar {
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon{
        span{
            margin-left: 19px;
            color: black;
        }
    }

    &__list{
        display: none;
    }

}

@media screen and (min-width: 1280px){
    .nav-bar{
        .nav-bar__list{
            display: flex;
        }

        .nav-bar__icon{
            display: none;
        }

        span{
            display: none;
        }
    }
}