/*------------------------------------*\
    #BODY
\*------------------------------------*/

body {
    margin: 0;
    padding: 0;
}

hr{
    height: 1px;
    background-color: $color-primary-dark-01;
    border: none;
}