<div class="main-navbar">
    {{> molecules-nav-bar}}
</div>

<div class="main-synopsis">
    {{> atoms-main-image}}
    <div class="main-synopsis__text">
        {{> organisms-synopsis}}
    </div>
</div>

<div class="main-body">
    {{> atoms-text-input}}
    {{> organisms-list-card}}
    {{> organisms-list-card-island}}
    {{> organisms-list-card-object}}
</div>

{{> molecules-footer}}

<script src="../../js/function.js"></script>