<div class="card">
    {{> atoms-card-image-island}}
    <div class="card-island">
        <div class="card-island__name">{{islandName}}</div>
        <div class="card-island__location"><span  class="material-icons">fmd_good</span>{{islandLocation}}</div>
    </div>
</div>