@import '../../../../assets/css/style.scss';

/*------------------------------------*\
    #Header List of Cards
\*------------------------------------*/
.cards-header{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 32px;

    &__name{
        @include typographyTitleMedium();
        color: $color-black;
    }

    &__all{
        @include typographyBodyMedium();
        color: $color-primary-dark-01;
    }
}

@media screen and (min-width: 1280px){
    .cards-header{
        &__name{
            @include typographyHeadingMedium();
            font-weight: 200;
        }

    }
}