<div class="cards-header">
    <div class="cards-header__name">Islands</div>
    <div class="cards-header__all">See all</div>
</div>
<div class="cards-container-scroll">
    {{#each islandsCards}}
        {{> molecules-card-island}}
    {{/each}}
</div>