<div class="cards-header">
    <div class="cards-header__name">Mist Objects</div>
    <div class="cards-header__all">See all</div>
</div>
<div class="cards-container-wrap">
    {{#each objectsCards}}
        {{> molecules-card-object}}
    {{/each}}
</div>