/*------------------------------------*\
    #List of Cards
\*------------------------------------*/
.cards-header{
    display: flex;
    justify-content: space-between;

    margin-top: 48px;
    margin-bottom: 32px;

    &__name{
        @include typographyTitleMedium();
        color: $color-black;
    }

    &__all{
        @include typographyBodyMedium();
        color: $color-primary-dark-01;
    }
}

.cards-container-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-container-scroll {
    display: flex;
    
    overflow-x: auto;
    justify-content: flex-start;
    &::-webkit-scrollbar{
        display: none;
    }
}

