<div class="nav-bar">
    <div class="nav-bar__icon" onclick="openNav()">
        <span class="material-icons">menu</span>
    </div>

    {{>atoms-nav-image}}

    <div class="nav-bar__list">
        {{>atoms-nav-list}}
    </div>

    <span></span>
</div>
