<div class="cards-header">
    <div class="cards-header__name">Characters</div>
    <div class="cards-header__all">See all</div>
</div>
<div class="cards-container-scroll">
    {{#each cards}}
        {{> molecules-card}}
    {{/each}}
</div>