/*------------------------------------*\
    #Nav bar image
\*------------------------------------*/
.nav-image {
    height: 40px;
    width: 112.41px;
}

/*------------------------------------*\
    #Main image
\*------------------------------------*/
.main-image{
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,255) 50%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,255) 50%);
}

/*------------------------------------*\
    #Card image
\*------------------------------------*/
.card-img{
    width: 181.94px;
    height: 231px;
}

/*------------------------------------*\
    #Card image island
\*------------------------------------*/
.card-img-island{
    width: 194px;
    height: 193px;
}

/*------------------------------------*\
    #Card image object
\*------------------------------------*/
.card-img-object{
    width: 174.49px;
    height: 132px;
}

/*------------------------------------*\
    #Footer image
\*------------------------------------*/
.footer-image{
    width: 97px;
    height: 89px;
}

/*------------------------------------*\
    #Flag image
\*------------------------------------*/
.flag-img{
    width: 30.79px;
    height: 30.79px;
}