/*------------------------------------*\
    #Nav bar image
\*------------------------------------*/
.nav-image {
    height: 40px;
    width: 112.41px;
}

/*------------------------------------*\
    #Main image
\*------------------------------------*/
.main-image{
    // max-width: 100%;
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,255) 50%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,255) 50%);
}

/*------------------------------------*\
    #Card image
\*------------------------------------*/
.card-img{
    width: 181.94px;
    height: 231px;
}

/*------------------------------------*\
    #Card image island
\*------------------------------------*/
.card-img-island{
    width: 194px;
    height: 193px;
}

/*------------------------------------*\
    #Card image object
\*------------------------------------*/
.card-img-object{
    width: 174.49px;
    height: 132px;
}

/*------------------------------------*\
    #Footer image
\*------------------------------------*/
.footer-image{
    width: 97px;
    height: 89px;
}

/*------------------------------------*\
    #Flag image
\*------------------------------------*/
.flag-img{
    width: 30.79px;
    height: 30.79px;
}

// /*------------------------------------*\
//     #Middle display
// \*------------------------------------*/
// @media screen and (min-width: 768px){
//     .main-image{
//         mask-image: none;
//         -webkit-mask-image: none;
//     }
//     .card-img{
//         width: 145px;
//         height: 184.1px;
//     }
//     .card-img-island{
//         width: 200.03px;
//         height: 199px;
//     }
//     .card-img-object{
//         width: 181px;
//         height: 175px;
//     }
// }

// /*------------------------------------*\
//     #Large display
// \*------------------------------------*/
// @media screen and (min-width: 1280px){
//     .main-image{
//         mask-image: none;
//         -webkit-mask-image: none;
//     }
//     .card-img{
//         width: 219.74px;
//         height: 279px;
//     }
//     .card-img-island{
//         width: 300.05px;
//         height: 298.5px;
//     }
//     .card-img-object{
//         width: 263.22px;
//         height: 254.29px;
//     }
// }