/*------------------------------------*\
    #List of Cards
\*------------------------------------*/
.cards-container-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-container-scroll {
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    
    &::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .cards-container-scroll{
        justify-content: space-between;
    }
}

@media screen and (min-width: 1280px){
    .cards-container-wrap{
        justify-content: space-between;
    }
}