<div class="card card-size">
    <div class="card-object-image">
        {{> atoms-card-image-object}} 
    </div>
    <div class="card-object">
        <div class="card-object__title">{{objectTitle}}</div>
        <div class="card-object__text">{{objectText}}</div>
    </div>
</div>