/*------------------------------------*\
    #Middle display
\*------------------------------------*/
@media screen and (min-width: 768px){
    .main-image{
        mask-image: none;
        -webkit-mask-image: none;
    }
    .card-img{
        width: 145px;
        height: 184.1px;
    }
    .card-img-island{
        width: 200.03px;
        height: 199px;
    }
    .card-img-object{
        width: 181px;
        height: 175px;
    }
}

@media screen and (min-width: 768px){
    .card-size{
        width: 300px;
        height: 160px;
        left: 0px;
        top: 0px;
        margin-bottom: 32px;
    }

    .card-object{
        width: 180px;
        height: 160px;

        &__title{
            @include typographyTitleSmall();
        }
    }
}

@media screen and (min-width: 768px){
    .main-body, .main-synopsis__text{
        margin-left: 64px;
        margin-right: 64px;
    }
    
    .main-body, .main-synopsis__text{
        position: relative;
        bottom: 90px;
    }

    .hiden-image{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .card{
        margin-right: 0px;
    }

    .cards-container-scroll{
        justify-content: space-between;
    }
}

/*------------------------------------*\
    #Large display
\*------------------------------------*/
@media screen and (min-width: 1280px){
    .nav-bar{
        .nav-bar__list{
            display: flex;
        }

        .nav-bar__icon{
            display: none;
        }

        span{
            display: none;
        }
    }

    .nav-image {
        width: 163px;
        height: 58px;
    }
}

@media screen and (min-width: 1280px){
    .main-body, .main-synopsis, .main-navbar{
        margin-left: 170px;
        margin-right: 170px;
    }

    .main-body, .main-synopsis__text{
        position: static;
        bottom: 0px;
    }

    .main-synopsis__text{
        margin-left: 0px;
        margin-right: 0px;
    }

    .main-synopsis{
        display: flex;
    }

    .main-image{
        width: 640px;
        height: 628px;
        object-fit: cover;
    }

    .synopsis{
        height: 612px;

        .header__moreText{
            display: inline;
        }

        .read-btn, hr{
            display: none;
        }

    }

    .hiden-image{
        display: none;
    }
}

@media screen and (min-width: 1280px){
    .main-image{
        mask-image: none;
        -webkit-mask-image: none;
    }
    .card-img{
        width: 219.74px;
        height: 279px;
    }
    .card-img-island{
        width: 300.05px;
        height: 298.5px;
    }
    .card-img-object{
        width: 263.22px;
        height: 254.29px;
    }
}

@media screen and (min-width: 1280px){
    .card-size{
        width: 461px;
        height: 254.29px;
        left: 0px;
        top: 0px;
        margin-bottom: 32px;
    }

    .card-object{
        width: 297.42px;
        height: 239px;

        &__title{
            @include typographyTitleMedium();
        }

        &__text{
            @include typographyBodyLarge();
        }
    }
}
